<!-- Clear chat confirmation popup -->
<div id="confirmPopup" class="popup-overlay" *ngIf="activePopup === 'confirmPopup'">
  <div class="popup-content">
    <h3>Clear Chat</h3>
    <p>Are you sure you want to clear this chat?</p>
    <div class="popup-buttons">
      <button id="confirmYes" class="popup-btn ok" (click)="clearChat()">Yes, Clear</button>
      <button id="confirmNo" class="popup-btn cancel" (click)="closePopup()">Cancel</button>
    </div>
  </div>
</div>
<!-- Add Panel dashboard Popup -->
<div id="formModal" class="popup-overlay" *ngIf="activePopup === 'formModal'">
  <!-- Modal Content Box -->
  <div id="content-grafana">
    <div class="modal-content">
      <h3>Select Dashboard</h3>
<select
  id="dashboardSelect"
  name="dashboardSelect"
  [(ngModel)]="selectedUid"
>
  <option *ngFor="let dashboard of dashboards" [value]="dashboard.uid">
    {{ dashboard.name }}
  </option>
</select>
      <div>
        <button (click)="submitForm()">OK</button>
        <button (click)="closePopup()">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Rename chat confirmation popup -->
<div id="rename-popup" class="rename-modal popup-overlay" *ngIf="activePopup === 'rename-popup'">
  <div class="rename-modal-content">
    <h3>Rename Chat</h3>
    <input type="text" id="rename-input" placeholder="Enter new chat title" [value]="currentName"/>
    <div class="rename-modal-buttons">
      <button (click)="submitRename()">Change Name</button>
      <button (click)="closePopup()">Cancel</button>
    </div>
  </div>
</div>


<!-- Delete chat confirmation popup -->
<div id="delete-popup" class="rename-modal popup-overlay" *ngIf="activePopup === 'delete-popup'">
  <div class="rename-modal-content">
    <h3>Confirm Delete</h3>
    <p>Are you sure you want to delete this chat?</p>
    <div class="rename-modal-buttons">
      <button (click)="confirmDelete()">Delete</button>
      <button (click)="closePopup()">Cancel</button>
    </div>
  </div>
</div>


<div id="confirmPopup" class="popup-overlay" *ngIf="activePopup === 'share-popup'">
  <div class="popup-content">
    <h3>Share Chat</h3>
    <p>Are you sure you want to share this chat?</p>
    <div class="popup-buttons">
      <button id="confirmYes" class="popup-btn ok" (click)="closePopup()">Yes, Share</button>
      <button id="confirmNo" class="popup-btn cancel" (click)="closePopup()">Cancel</button>
    </div>
  </div>
</div>