            <div class="chat-input">
                <div class="input-wrapper">
                    <i class="fas fa-search input-icon"></i>
                    <input type="text" id="query-input" [placeholder]="placeholderText" [value]="receivedMessage"
  (input)="onInputChange($event)">
                    <div class="input-actions">
                        <button class="action-btn" id="voice-btn" title="Voice input">
                            <i class="fas fa-microphone"></i>
                        </button>
                    </div>
                </div>
                <button id="submit-btn" class="btn" (click)="onSubmit()">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </div>